@use '@/styles/mixins/media';

.container {
  display: flex-start;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

@include media.max-mobile {
  .container {
    padding: var(--spacing-md);
  }
}
